/* Setup */
@import './setup/vars.css';
@import './setup/font-face.css';

/* Basic */
@import './setup/css-reset.css';
/* @import './basic/buttons.css'; */
/* @import './basic/icons.css'; */
@import './basic/helpers.css';
/* @import './basic/layout.css'; */

/* Cmps */
@import './cmps/nav.css';
@import './cmps/aside.css';
/* @import './cmps/main-content.css'; */
/* @import './cmps/dropdown.css'; */
/* @import './cmps/footer.css'; */

.container {
    display: flex;
    max-height: var(--container-height);
    min-height: var(--container-height);
    /* flex: 1 1 auto; */
}
main {
    background: var(--secondary-color);
    width: 100%;
}

.grid-container {
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    /* height: var(--container-height); */
    max-height: Calc(var(--container-height) - 40px);
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 25px;
    margin: 25px;
}
.container img {
    transition: transform 0.2s, box-shadow 0.1s;
    cursor: pointer;
}

.container img:hover {
    box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.editor {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-container {
    /* width: 450px;
    height: 450px; */
}

.gallery-actions {
    margin-top: 1rem;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gallery-actions input[type='search'] {
    border: 3px solid var(--tertiary-color);
    background: var(--tertiary-color);
    border-radius: 6px;
    padding: 0.2rem 1rem;
    color: white;
}
.gallery-actions input[type='search']:focus {
    outline: none;
}

.custom-file-input {
    background: var(--tertiary-color);
    padding: 1rem;
    border-radius: 6px;
}

.gallery-actions ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
}

.gallery-actions ul li {
    margin: 0 1rem;
}

@media screen and (max-width: 700px) {
    body {
        /* overflow-y: hidden; */
    }
    .mob-hide {
        display: none !important;
    }

    .grid-container {
        overflow: auto;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        height: var(--container-height);
    }

    .container {
        flex-direction: column;
        justify-content: space-between;
        /* width: 50px; */
    }
    main {
        height: 100%;
    }

    .canvas-container {
        margin: 1rem;
    }
    .editor {
        align-items: flex-start;
    }
}
