/* Setup */
@import './setup/vars.css';
@import './setup/font-face.css';

/* Basic */
@import './setup/css-reset.css';
/* @import './basic/buttons.css'; */
/* @import './basic/icons.css'; */
@import './basic/helpers.css';
/* @import './basic/layout.css'; */

/* Cmps */
@import './cmps/nav.css';
@import './cmps/aside.css';
@import './cmps/text-module.css';
@import './cmps/search-module.css';
/* @import './cmps/main-content.css'; */
/* @import './cmps/footer.css'; */

.container {
    display: flex;
    max-height: var(--container-height);
    min-height: var(--container-height);
    /* flex: 1 1 auto; */
}
main {
    background: var(--secondary-color);
    width: 100%;
}

.grid-container {
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    /* height: var(--container-height); */
    max-height: Calc(var(--container-height) - 40px);
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 25px;
}
.container img {
    transition: transform 0.2s, box-shadow 0.1s;
    cursor: pointer;
}

.container img:hover {
    box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.editor {
    /* height: minmax(100%, var(--container-height)); */
    height: var(--container-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-container {
    /* width: 450px;
    height: 450px; */
}

.gallery {
    margin: 2rem;
    /* display: grid;
    grid-template-columns: 1fr 4fr; */
}

.gallery h3 {
    color: white;
    font-weight: 400;
    text-transform: uppercase;
}

.gallery-header {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gallery-header button:hover {
    background: var(--quinary-color);
}
.gallery-header button {
    background: var(--tertiary-color);
    color: white;
    padding: 0.4rem 2rem;
}

@media screen and (max-width: 700px) {
    body {
        /* overflow-y: hidden; */
    }
    .mob-hide {
        display: none !important;
    }

    .grid-container {
        overflow: auto;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        height: var(--container-height);
    }

    .container {
        flex-direction: column;
        justify-content: space-between;
        /* width: 50px; */
    }
    main {
        height: 100%;
    }

    .canvas-container {
        margin: 1rem;
    }
    .editor {
        align-items: flex-start;
    }
}
